<header>
    <nav>
        <ul class="nav">
            <li><a href="/home">Home</a></li>
            <li><a href="/shop">Shop</a></li>
            <li><a href="/custom">Custom</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="/user">User</a></li>
        </ul>
    </nav>
    <% if (is_employe == "true") { %>
        <a href="/commands"><button>Commands</button></a>
    <% } %>
</header>